const mongoose = require("mongoose");
const dotenv = require("dotenv").config();

// Connect to MongoDB
const dbUrl = "mongodb+srv://" + dotenv.parsed.DB_USER + ":" + dotenv.parsed.DB_PASSWORD  + "@" + dotenv.parsed.DB_HOST + "/" + dotenv.parsed.DB_DATABASE;
mongoose.connect(dbUrl, { useNewUrlParser: true, useUnifiedTopology: true });
